BOT_TOKEN=7370665741:AAEcJAfhGRXDzARbpvqwDf8f3OE0VaKqJNg
ADMIN_BOT_TOKEN=7370665741:AAEcJAfhGRXDzARbpvqwDf8f3OE0VaKqJNg
DATABASE_URL=postgresql+asyncpg://postgres:sTKXfgxTWVKqTCOXOEfcnToBLDizsdat@postgres.railway.internal:5432/railway
REDIS_URL=redis://default:RgvQQKpemxJbXiqIOViOloriNdEEFHLX@redis.railway.internal:6379
SUPERADMIN_IDS=1262207928
BASE_BOT_USERNAME=topibolindi_bot
TARGET_GROUP_ID=-1001234567890
TRACKING_TASK_ID=1
